body {
/* background-color: #101010; */
background: url("matrix.gif");
background-repeat: repeat;
color: #13e769;
font-size: 14px;
font-family: "Courier";
}
h2 {
color: #c0ffee;
text-align: center;
font-size: 20px;
}
table{
border: 1px solid;
table-layout: fixed;
}
a {
  color: #008080;
  background-color: black;
}
#leet {
font-family: "Courier New";
margin-left: 20px;
font-size: 20px;
}
#normie {
font-size: 18px;
}
#stars{
font-family: "Courier New";
font-size: 12px;
width: 102px;
}
#names{
width: 120px;
text-align: center;
vertical-align: middle
}
#desc{
text-align: justify;
}
#dream{
  font-family: "SF Alien Encounters";
  color: #FFF;
}
#bedlam{
font-family: "Softline";
color: #000;
}
#antifur{
font-family: "Fontovision";
color: #5DEFBD;
}
#mixedbydjvlad{
font-family: "Abduction2002";
color: #ffd400;
text-shadow: -2px 2px #00ff5e;
}
#nolivesmatter{
font-family: "DK Otago";
color: #C25632;
}
